# Author: Ioannis Kakavas
#
# Email from stranger asking to meet
#
SUBJECT="Is that really you ???"

BODY="Hey man, \n I got this pictures of you in an email from a stranger last night. This guy claimed that you were in @area@ , sometime around @hour@ on @date@". It looks like he is stalking you or something.. Take a look at them and tell me if its really you, I got kind of spooked...\n Best, \n <name here>
