# Author: Ioannis Kakavas
#
# Email from stranger asking to meet
#
SUBJECT="I know it's a bit blunt , but..."

BODY="Hi, \n It's strange , I know , but I have no other means of contacting you. I saw you on @day@ in @area@ It was around @hour@. I noticed that you are checking your phone, so I used this new social app and found your email address. The thing is that I cannot stop thinking of you since that day..\n I would really like to meet you again, these time under better conditions. I have attached a picture in this mail to give you a heads up. I will understand it if you reject the offer, but I promise that if you accept, I will make it count ! \n blabla <name here>"
